.btn.purple-gradient, .btn.peach-gradient, .btn.blue-gradient, .btn.aqua-gradient {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    color: #fff;
}

.purple-gradient {
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.peach-gradient {
  background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.aqua-gradient {
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}

.btn-rounded {
  -webkit-border-radius: 10em;
  border-radius: 10em;
}
